.chapter__border {
  display: inline-block;
  position: relative;
}

.chapter__border::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 85px;
  left: -26px;
  width: 10px;
  height: 172px;
  margin-right: 20px;
  background-color: rebeccapurple;
}
